In [1]:
import pandas as pd

### merge된 csv파일은 이름순

In [2]:
cd ../

/mnt/c/Users/okpl8/documents/project1/figure

In [3]:
pwd

'/mnt/c/Users/okpl8/documents/project1/figure'

In [4]:
data = pd.read_csv('./data/merged.csv')
data.head()

,image_filename,Nose_x,Nose_y,LEye_x,LEye_y,REye_x,REye_y,LEar_x,LEar_y,REar_x,...,LSmallToe_y,RSmallToe_x,RSmallToe_y,LHeel_x,LHeel_y,RHeel_x,RHeel_y,gender,level,label
0,65.jpg,1903.450439,324.195709,1896.498169,317.243469,1896.498169,317.243469,1908.085205,326.513123,1908.085205,...,433.114258,1877.958862,426.162018,1903.450439,435.431671,1905.767822,433.114258,0,3,Jump
1,66.jpg,1902.256348,330.161255,1902.256348,325.993469,1908.508057,332.245117,1906.424072,328.077362,1916.843506,...,431.238159,1873.883179,425.009338,1902.474854,432.223877,1903.593750,432.438110,0,3,Jump
2,67.jpg,1899.319946,328.725464,1917.416260,300.575562,1917.416260,298.564880,1901.330566,328.725464,1920.000000,...,430.018127,1871.919434,423.960632,1898.995605,432.955017,1902.013794,431.365784,0,3,Jump
3,68.jpg,1914.982666,298.280396,1916.995972,296.267059,1914.982666,296.267059,1916.995972,296.267059,1920.000000,...,430.558533,1870.586792,422.695221,1896.009155,431.532043,1900.942139,428.800903,0,3,Jump
4,69.jpg,1914.923340,295.087738,1910.812134,295.087738,1912.867676,295.087738,1914.923340,293.032135,1920.000000,...,429.011780,1867.699951,422.027954,1894.613647,431.073181,1906.373169,428.228760,0,3,Jump

In [5]:
columns = list(data.columns)
print(columns)

['image_filename', 'Nose_x', 'Nose_y', 'LEye_x', 'LEye_y', 'REye_x', 'REye_y', 'LEar_x', 'LEar_y', 'REar_x', 'REar_y', 'LShoulder_x', 'LShoulder_y', 'RShoulder_x', 'RShoulder_y', 'LElbow_x', 'LElbow_y', 'RElbow_x', 'RElbow_y', 'LWrist_x', 'LWrist_y', 'RWrist_x', 'RWrist_y', 'LHip_x', 'LHip_y', 'RHip_x', 'RHip_y', 'LKnee_x', 'LKnee_y', 'RKnee_x', 'RKnee_y', 'LAnkle_x', 'LAnkle_y', 'RAnkle_x', 'RAnkle_y', 'Head_x', 'Head_y', 'Neck_x', 'Neck_y', 'Hip_x', 'Hip_y', 'LBigToe_x', 'LBigToe_y', 'RBigToe_x', 'RBigToe_y', 'LSmallToe_x', 'LSmallToe_y', 'RSmallToe_x', 'RSmallToe_y', 'LHeel_x', 'LHeel_y', 'RHeel_x', 'RHeel_y', 'gender', 'level', 'label']

### change lable, csv

In [8]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
encoder = LabelEncoder()
encoder.fit(data['label'])

data["label"] = encoder.transform(data["label"])
data
# 0 = jump, 1 = spin, 2 = step

,image_filename,Nose_x,Nose_y,LEye_x,LEye_y,REye_x,REye_y,LEar_x,LEar_y,REar_x,...,LSmallToe_y,RSmallToe_x,RSmallToe_y,LHeel_x,LHeel_y,RHeel_x,RHeel_y,gender,level,label
0,65.jpg,1903.450439,324.195709,1896.498169,317.243469,1896.498169,317.243469,1908.085205,326.513123,1908.085205,...,433.114258,1877.958862,426.162018,1903.450439,435.431671,1905.767822,433.114258,0,3,0
1,66.jpg,1902.256348,330.161255,1902.256348,325.993469,1908.508057,332.245117,1906.424072,328.077362,1916.843506,...,431.238159,1873.883179,425.009338,1902.474854,432.223877,1903.593750,432.438110,0,3,0
2,67.jpg,1899.319946,328.725464,1917.416260,300.575562,1917.416260,298.564880,1901.330566,328.725464,1920.000000,...,430.018127,1871.919434,423.960632,1898.995605,432.955017,1902.013794,431.365784,0,3,0
3,68.jpg,1914.982666,298.280396,1916.995972,296.267059,1914.982666,296.267059,1916.995972,296.267059,1920.000000,...,430.558533,1870.586792,422.695221,1896.009155,431.532043,1900.942139,428.800903,0,3,0
4,69.jpg,1914.923340,295.087738,1910.812134,295.087738,1912.867676,295.087738,1914.923340,293.032135,1920.000000,...,429.011780,1867.699951,422.027954,1894.613647,431.073181,1906.373169,428.228760,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475709,161.jpg,1621.043457,468.746826,1584.274292,459.554535,1630.235840,459.554535,1584.274292,464.150665,1630.235840,...,818.054504,1676.197266,827.246765,1584.274292,841.035217,1653.216553,845.631409,0,2,2
475710,162.jpg,1589.072144,463.104401,1593.388794,458.787689,1636.555664,458.787689,1593.388794,458.787689,1640.872437,...,812.756165,1688.355957,817.072876,1593.388794,830.022888,1662.455811,838.656311,0,2,2
475711,163.jpg,1597.039551,459.251648,1597.039551,455.061646,1643.129761,455.061646,1597.039551,455.061646,1643.129761,...,802.832886,1693.409912,807.022888,1605.419556,823.782959,1672.459839,827.972961,0,2,2
475712,164.jpg,1597.970093,455.625610,1602.100830,451.494934,1647.538574,451.494934,1602.100830,451.494934,1651.669312,...,794.343567,1697.107056,794.343567,1614.492920,810.866394,1676.453491,814.997131,0,2,2
475713,165.jpg,1599.962891,449.902710,1604.077637,441.673309,1649.339233,445.788025,1604.077637,445.788025,1653.453979,...,787.307922,1698.715698,783.193237,1620.536377,803.766724,1682.256836,803.766724,0,2,2

In [10]:
data = data.drop('image_filename', axis=1)
data

,Nose_x,Nose_y,LEye_x,LEye_y,REye_x,REye_y,LEar_x,LEar_y,REar_x,REar_y,...,LSmallToe_y,RSmallToe_x,RSmallToe_y,LHeel_x,LHeel_y,RHeel_x,RHeel_y,gender,level,label
0,1903.450439,324.195709,1896.498169,317.243469,1896.498169,317.243469,1908.085205,326.513123,1908.085205,324.195709,...,433.114258,1877.958862,426.162018,1903.450439,435.431671,1905.767822,433.114258,0,3,0
1,1902.256348,330.161255,1902.256348,325.993469,1908.508057,332.245117,1906.424072,328.077362,1916.843506,311.406311,...,431.238159,1873.883179,425.009338,1902.474854,432.223877,1903.593750,432.438110,0,3,0
2,1899.319946,328.725464,1917.416260,300.575562,1917.416260,298.564880,1901.330566,328.725464,1920.000000,298.564880,...,430.018127,1871.919434,423.960632,1898.995605,432.955017,1902.013794,431.365784,0,3,0
3,1914.982666,298.280396,1916.995972,296.267059,1914.982666,296.267059,1916.995972,296.267059,1920.000000,298.280396,...,430.558533,1870.586792,422.695221,1896.009155,431.532043,1900.942139,428.800903,0,3,0
4,1914.923340,295.087738,1910.812134,295.087738,1912.867676,295.087738,1914.923340,293.032135,1920.000000,295.087738,...,429.011780,1867.699951,422.027954,1894.613647,431.073181,1906.373169,428.228760,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475709,1621.043457,468.746826,1584.274292,459.554535,1630.235840,459.554535,1584.274292,464.150665,1630.235840,459.554535,...,818.054504,1676.197266,827.246765,1584.274292,841.035217,1653.216553,845.631409,0,2,2
475710,1589.072144,463.104401,1593.388794,458.787689,1636.555664,458.787689,1593.388794,458.787689,1640.872437,454.471008,...,812.756165,1688.355957,817.072876,1593.388794,830.022888,1662.455811,838.656311,0,2,2
475711,1597.039551,459.251648,1597.039551,455.061646,1643.129761,455.061646,1597.039551,455.061646,1643.129761,450.871613,...,802.832886,1693.409912,807.022888,1605.419556,823.782959,1672.459839,827.972961,0,2,2
475712,1597.970093,455.625610,1602.100830,451.494934,1647.538574,451.494934,1602.100830,451.494934,1651.669312,447.364197,...,794.343567,1697.107056,794.343567,1614.492920,810.866394,1676.453491,814.997131,0,2,2
475713,1599.962891,449.902710,1604.077637,441.673309,1649.339233,445.788025,1604.077637,445.788025,1653.453979,441.673309,...,787.307922,1698.715698,783.193237,1620.536377,803.766724,1682.256836,803.766724,0,2,2

### data visualize

In [11]:
import matplotlib.pyplot as plt